node_modules/
dist/
.venv/
__pycache__/
*.pyc
*.log
.env

backend/uploads/*
backend/temp/*
backend/transcripts/*
backend/embeddings/*
backend/app/database/chromadb/*

!backend/uploads/.gitkeep
!backend/temp/.gitkeep
!backend/transcripts/.gitkeep
!backend/embeddings/.gitkeep
